# Training outputs
code/outputs/*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# models
*.pth


.cursor/*
local/*
sections/*